$header-bg: #070707;
$header-text: white;
$header-padding: 10px;

.header {
  background: $header-bg;
  color:$header-text;
  padding: $header-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav a {
  color: $header-text;
  margin-right: 15px;
  text-decoration: none;
}